<ion-app>
  <ion-header>
    <div id="header-box">
      <img src="../assets/icon/headerbox.png" alt="">
    </div>
      <ul id="nav-list">
        <li class="nav-link">
          <a href="#">Book</a>
        </li>
        <li class="nav-link">
          <a href="#">Explore</a>
        </li>
        <li class="nav-link">
          <a href="#">Flights</a>
        </li>
        <li class="nav-link">
          <a href="#">Manage</a>
        </li>
        <li>
          <button id="login-btn">Log In</button>
        </li>
      </ul>
  </ion-header>
  <ion-content>
    <div id="background-image">
      <h1>Welcome to HaribonAirlines!</h1>
    </div>

    <div class="main-app">
      <!-- ALLEN -->
      <div id="book-flight-section">
        <div class="book-flight">
          <ion-accordion-group value="first">
            <ion-accordion value="first" toggleIcon="caret-down"> 
              <ion-item slot="header" color="yellow">
                <ion-label>Book a Flight</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <div class="accordion-contents">
                  <span class="flex-input">
                    <label for="departure">Departure</label>
                    <input type="text" name="departure" placeholder="Select Departure">
                  </span>
  
                  <span class="flex-input">
                    <label for="destination">Destination</label>
                    <input type="text" name="destination" placeholder="Select Destination">
                  </span>
   
                  <span class="flex-input" id="date-input">
                    <label for="date">Date</label>
                    <div>
                      <input type="date" name="date" placeholder="Depart Date">
                      <input type="date" name="date" placeholder="Return Date">
                    </div>
                  </span>


                  <span class="flex-input">
                    <label for="promo">Promo Code</label>
                    <input type="text" name="promo" placeholder="Enter Promo Code">
                  </span>
                  
                  <span class="span-btn-end">
                    <button id="search-flight-btn">Search Flights</button>
                  </span>
                </div>
                

              </div>
            </ion-accordion>
            <ion-accordion value="second" toggleIcon="caret-down">
              <ion-item slot="header" color="yellow">
                <ion-label>Manage Flights</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <div class="accordion-contents">
                  <span class="flex-input">
                    <label for="reference">Booking Reference No.</label>
                    <input type="text" name="reference" placeholder="Enter Reference Number">
                  </span>
                </div>
              </div>
            </ion-accordion>

            <!-- <ion-accordion value="third" toggleIcon="caret-down">
              <ion-item slot="header" color="yellow">
                <ion-label>Flight Status</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <div class="accordion-contents">
                  <span class="flex-input">
                    <label for="flight-num">Flight Number</label>
                    <input type="text" name="flight-num" placeholder="Enter Flight Number">
                  </span>
                </div>              </div>
            </ion-accordion> -->
          </ion-accordion-group>
        </div>
      </div>

        
    <div id="explore-destination-section">
      <h1 class="section-title">Explore Destinations</h1>
      <div class="explore-destination">
        <div class="explore-badge">
          <div class="badge-container">
            <ion-badge>Limited-time!</ion-badge>
          </div>
          <ion-card class="explore-card">
            <img alt="Silhouette of mountains" src="https://assets-guidebook.isango.com/wp-content/uploads/2021/03/beijing-1.1.jpg" />
            <ion-card-header>
              <ion-card-title>Explore Honshu</ion-card-title>
              <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Awe-inspiring volcano, breathtaking views, perfect for serenity
              <ion-button expand="block">Book a flight</ion-button>
            </ion-card-content>
          </ion-card>
        </div>

        <div class="explore-badge">
          <div class="badge-container">
            <ion-badge>Limited-time!</ion-badge>
          </div>
          <ion-card class="explore-card">
            <img alt="Silhouette of mountains" src="https://media.cntraveler.com/photos/5668630dc3c9e01555a4d421/master/pass/palawan-philippines-coron-cr-alamy.jpg" />
            <ion-card-header>
              <ion-card-title>Explore Palawan</ion-card-title>
              <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              A tropical paradise with lush landscapes, and turquoise seas.
              <ion-button expand="block">Book a flight</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
        
        <div class="explore-badge">
          <div class="badge-container">
            <ion-badge>Limited-time!</ion-badge>
          </div>
          <ion-card class="explore-card">
            
            <img alt="Silhouette of mountains" src="https://globalcenters.columbia.edu/sites/default/files/styles/cu_crop/public/content/Beijing/%E4%B8%8A%E6%B5%B7_0.png?itok=EoQ1mGPq" />
            <ion-card-header>
              <ion-card-title>Explore Beijing</ion-card-title>
              <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Timeless wonder, ancient landmark, sweeping historic mountain vistas.
              <ion-button expand="block">Book a flight</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
        
      </div>
    </div>
  
    <div id="promo-section">
      <h1 class="section-title">Limited-time Promos</h1>
      <div class="limited-promo">
        <div class="promo-container">
          <div class="price-card">
            <div class="price-left">
              <p class="trip-type">Roundtrip</p>
              <p class="trip-duration">6-days trip</p>
            </div>
            <div class="price-right">
              <p class="for-just"> For just</p>
              <p class="price">₱ 10,999</p>
              <p class="inclusions">With inclusions</p>
              <button class="arrow-btn">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </button>
            </div>
          </div>       
          <div class="price-card">
            <div class="price-left">
              <p class="trip-type">Roundtrip</p>
              <p class="trip-duration">6-days trip</p>
            </div>
            <div class="price-right">
              <p class="for-just"> For just</p>
              <p class="price">₱ 10,999</p>
              <p class="inclusions">With inclusions</p>
              <button class="arrow-btn">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </button>
            </div>
          </div>
          <div class="promo-button">
            <ion-button id="more-promo-btn">
              <p class="more-promo-text">See More Promos</p>
              <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </div>             
        </div>
      </div>
    </div>
  
    <div id="rewards-section">
      <div class="flight-rewards">
        <div class="rewards-container">
          <h1>Soar to New Destinations</h1>
          <p>Exchange your card points for FlightPath Rewards</p>
          <button id="redeem-points-btn" class="redeem-button" (click)="showLoginAlert()">Redeem Points</button>
        </div>
      </div>
    </div>
  
    <div id="travel-guide-section">
      <h1 class="section-title">Travel Guides and Information</h1>
      <div class="travel-guide">
        <!-- INSERT CODE HERE -->
        <div class="info-card">
          <img src="../assets/images/travel.jpg" alt="Travel Requirements" />
          <div class="card-content">
            <h2>Travel Requirements</h2>
            <p>Get information on the travel requirements for a hassle-free flight.</p>
            <button class="btn-primary">Read More</button>
          </div>
        </div>
        <!-- Baggage Support Card -->
        <div class="info-card">
          <img src="../assets/images/baggage.jpg" alt = "Baggage Support"/>
          <div class="card-content">
            <h2>Baggage Support</h2>
            <p>Find baggage guidelines or get help with lost and delayed luggage.</p>
            <button class="btn-primary">Read More</button>
          </div>
        </div>
        <!-- Check Flight Status Card -->
        <div class="info-card">
          <img src="../assets/images/flight-status.jpg" alt="Check Flight Status" />
          <div class="card-content">
            <h2>Check Flight Status</h2>
            <p>Track real-time departures, arrivals, and flight changes.</p>
            <button class="btn-primary">Check Flight Status</button>
          </div>
        </div>

      </div>
    </div>  
    </div>

    <ion-footer>
      <div class="footer-content">
        <div class="footer-logo-box">
          <img id="footer-logo" src="../assets/icon/haribonairlines-logo.png" alt="">
          <h3>HaribonAirlines</h3>
        </div>
        <div class="footer-nav-link">
          <ul class="footer-links">
            <li>
              <a href="#">Book</a>
            </li>
            <li>
              <a href="#">Explore</a>
            </li>
            <li>
              <a href="#">Flights</a>
            </li>
            <li>
              <a href="#">Manage Flights</a>
            </li>
          </ul>
        </div>
        <div class="footer-support-link">
          <ul class="footer-links">
            <li>
              <a href="#">Need assistance</a>
            </li>
            <li>
              <a href="#">Contact us</a>
            </li>
            <li>
              <a href="#">Terms of Service</a>
            </li>
            <li>
              <a href="#">Privacy & Policy</a>
            </li>
          </ul>
        </div>
        <div class="footer-info-link">
          <h3>HaribonAirlines</h3>
          <p>Mabuhay Tower #88 Rizal Avenue, Bonifacio Global City, Taguig City, Metro Manila, Philippines 1634</p>
          <span class="contact-info">
            <div class="flex-contact-box">
              <ion-icon name="call"></ion-icon>
              <p>(907) 2315</p>
            </div>

            <div class="flex-contact-box">
              <ion-icon name="mail"></ion-icon>
              <p>haribonair&#64;support.ph</p>
            </div>
          </span>
        </div>
      </div>
    </ion-footer>
  </ion-content>

</ion-app>
